src/wsdl/36.50.135.242_2221/CharacterService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.server.network.judge.dblab.ptit/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.server.network.judge.dblab.ptit/" name="CharacterService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.server.network.judge.dblab.ptit/" schemaLocation="http://36.50.135.242:2221/CharacterService?xsd=1"/>
</xsd:schema>
</types>
<message name="submitCharacterCharArray">
<part name="parameters" element="tns:submitCharacterCharArray"/>
</message>
<message name="submitCharacterCharArrayResponse">
<part name="parameters" element="tns:submitCharacterCharArrayResponse"/>
</message>
<message name="submitCharacterString">
<part name="parameters" element="tns:submitCharacterString"/>
</message>
<message name="submitCharacterStringResponse">
<part name="parameters" element="tns:submitCharacterStringResponse"/>
</message>
<message name="submitCharacterStringArray">
<part name="parameters" element="tns:submitCharacterStringArray"/>
</message>
<message name="submitCharacterStringArrayResponse">
<part name="parameters" element="tns:submitCharacterStringArrayResponse"/>
</message>
<message name="submitStringArray">
<part name="parameters" element="tns:submitStringArray"/>
</message>
<message name="submitStringArrayResponse">
<part name="parameters" element="tns:submitStringArrayResponse"/>
</message>
<message name="submitString">
<part name="parameters" element="tns:submitString"/>
</message>
<message name="submitStringResponse">
<part name="parameters" element="tns:submitStringResponse"/>
</message>
<message name="requestString">
<part name="parameters" element="tns:requestString"/>
</message>
<message name="requestStringResponse">
<part name="parameters" element="tns:requestStringResponse"/>
</message>
<message name="requestStringArray">
<part name="parameters" element="tns:requestStringArray"/>
</message>
<message name="requestStringArrayResponse">
<part name="parameters" element="tns:requestStringArrayResponse"/>
</message>
<message name="requestCharacter">
<part name="parameters" element="tns:requestCharacter"/>
</message>
<message name="requestCharacterResponse">
<part name="parameters" element="tns:requestCharacterResponse"/>
</message>
<portType name="SoapCharacterService">
<operation name="submitCharacterCharArray">
<input wsam:Action="http://soap.server.network.judge.dblab.ptit/SoapCharacterService/submitCharacterCharArrayRequest" message="tns:submitCharacterCharArray"/>
<output wsam:Action="http://soap.server.network.judge.dblab.ptit/SoapCharacterService/submitCharacterCharArrayResponse" message="tns:submitCharacterCharArrayResponse"/>
</operation>
<operation name="submitCharacterString">
<input wsam:Action="http://soap.server.network.judge.dblab.ptit/SoapCharacterService/submitCharacterStringRequest" message="tns:submitCharacterString"/>
<output wsam:Action="http://soap.server.network.judge.dblab.ptit/SoapCharacterService/submitCharacterStringResponse" message="tns:submitCharacterStringResponse"/>
</operation>
<operation name="submitCharacterStringArray">
<input wsam:Action="http://soap.server.network.judge.dblab.ptit/SoapCharacterService/submitCharacterStringArrayRequest" message="tns:submitCharacterStringArray"/>
<output wsam:Action="http://soap.server.network.judge.dblab.ptit/SoapCharacterService/submitCharacterStringArrayResponse" message="tns:submitCharacterStringArrayResponse"/>
</operation>
<operation name="submitStringArray">
<input wsam:Action="http://soap.server.network.judge.dblab.ptit/SoapCharacterService/submitStringArrayRequest" message="tns:submitStringArray"/>
<output wsam:Action="http://soap.server.network.judge.dblab.ptit/SoapCharacterService/submitStringArrayResponse" message="tns:submitStringArrayResponse"/>
</operation>
<operation name="submitString">
<input wsam:Action="http://soap.server.network.judge.dblab.ptit/SoapCharacterService/submitStringRequest" message="tns:submitString"/>
<output wsam:Action="http://soap.server.network.judge.dblab.ptit/SoapCharacterService/submitStringResponse" message="tns:submitStringResponse"/>
</operation>
<operation name="requestString">
<input wsam:Action="http://soap.server.network.judge.dblab.ptit/SoapCharacterService/requestStringRequest" message="tns:requestString"/>
<output wsam:Action="http://soap.server.network.judge.dblab.ptit/SoapCharacterService/requestStringResponse" message="tns:requestStringResponse"/>
</operation>
<operation name="requestStringArray">
<input wsam:Action="http://soap.server.network.judge.dblab.ptit/SoapCharacterService/requestStringArrayRequest" message="tns:requestStringArray"/>
<output wsam:Action="http://soap.server.network.judge.dblab.ptit/SoapCharacterService/requestStringArrayResponse" message="tns:requestStringArrayResponse"/>
</operation>
<operation name="requestCharacter">
<input wsam:Action="http://soap.server.network.judge.dblab.ptit/SoapCharacterService/requestCharacterRequest" message="tns:requestCharacter"/>
<output wsam:Action="http://soap.server.network.judge.dblab.ptit/SoapCharacterService/requestCharacterResponse" message="tns:requestCharacterResponse"/>
</operation>
</portType>
<binding name="SoapCharacterServicePortBinding" type="tns:SoapCharacterService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="submitCharacterCharArray">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="submitCharacterString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="submitCharacterStringArray">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="submitStringArray">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="submitString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="requestString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="requestStringArray">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="requestCharacter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CharacterService">
<port name="SoapCharacterServicePort" binding="tns:SoapCharacterServicePortBinding">
<soap:address location="http://36.50.135.242:2221/CharacterService"/>
</port>
</service>
</definitions>